<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Chart 5 - Line Chart</h1>
      
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Data Products : (Title & Price)</h2>
            <canvas id="linechart"></canvas>
        </div>
    </div>
      <!-- /End replace -->
    </div>
  </main>
</div>

