<!-- This example requires Tailwind CSS v3.0+ -->
<div class="isolate bg-white">
  <main>
    <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div
            class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
          >
            Announcing our next round of funding.
            <a href="#" class="font-semibold text-indigo-600"
              ><span class="absolute inset-0" aria-hidden="true"></span>Read
              more <span aria-hidden="true">&rarr;</span></a
            >
          </div>
        </div>
        <br />
        <div class="text-center">
          <h1
            class="text-4xl font-bold tracking-tight typing-demo h3 mb-0 text-gray-900 sm:text-6xl">
          <div class="d-sm-flex align-items-center justify-content-center mb-4 mt-4">
            Belajar Angular Task 2         
          </div>
          </h1>
          <br />

          <p class="mt-6 text-lg leading-8 text-gray-600">
            Angular merupakan front end framework yang ditulis dengan
            TypeScript. <br />
            TypeScript juga sebuah superset dari JavaScript.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              [routerLink]="['/newpage']"
              class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >Get started</a
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
